 body{
     font-family: arial;
 }
 .orange-color{
    color: orange;
}
h1{
   font-size: 60px;
   color:#403D3D ;
}
h2{
    font-size: 30px;
    color:#473D3B;

}

strong{
    font-size: 37px;
    color:#928B89 
}
.first-section{
    display: flex;
}
.first-div{
   width: 50%;
padding-left: 7%;
padding-top: 4%;
    
}
.first-div img{
    width: 94%;
    height: 90%;
   
}
.order-food{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    
    color: white;
    font-weight: 700;
    display: inline-block;
    padding: 14px 30px;
    border-radius: 20px;

}
p{
    font-size: 25px;
}
.second-section{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
}
.second-div{
    width: 50%;
    padding: 7%;
}
.second-div img{
    width: 61%;
padding-top: 5px;


}
.flex-section{
    display: flex;
    padding: 100px;
}
.my-recipies{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
.card{
    width: 28%;
    padding-left: 0.5%;
    
    background-color:white;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 3px 3px 10px gray;
    display: inline-block;
   
    
    

}
.image img{
    width: 90%;
    border-radius: 5%;
    padding: 5% 5%;
    



}
.tittle{
    padding-bottom: 5%;
    padding-left: 7%;
}
.social-part{
width: 95%;
background-color:white;
box-shadow: 3px 3px 10px gray;
border-radius: 10px;
display: flex;
margin-left: 2%;
box-shadow: 3px 3px 10px gray;
}
.youtube{
    text-align: center;
    display: inline-block;
    margin-left: 12%;
}
footer{
    background-color: #403D3D;
    text-align: center;
    padding: 5%;
    margin-top: 3%;
    width: 90%;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;

}
#h2-footer{
    color: aliceblue;
}
.white-color {
    color: white;
    font-size: 20px;
}
.red-color {
    color:mediumvioletred;
}
.gray-color {
    color: ghostwhite;
}
